
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: ' Poppins', sans-serif;
    background-color:  whitesmoke;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(16, 16, 137);
    overflow: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav a.active {
    background-color: #130a3d;
    color: white;
  }
  
  .sidenav a:hover:not(.active) {
    background-color: #130a3d;
    color: white;
  }

  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    // background-color: #e6e4e4;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 11px;}
    .navbar-brand {font-size: 11px;}
  }

  .title {
   
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

// .ms-n5 {
//     margin-left: -40px;
// }



       body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

    //    .height{
    //     height: 100vh;
    //    }
       

       .search{
       position: relative;
    //    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 40px;
        text-indent: 25px;
        border: 1px solid #d6d4d4;
        font-size: 14px;

       }


       .search input:focus{

        box-shadow: none;
        // border: 1px solid blue;
       }

       .search .fa-search{
        position: absolute;
        top: 13px;
        left: 10px;
        font-size: 15px;
       }

       .custom-table{
        width: 100%;
        font-size: 12px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
       }
       custom-table1{
        width: 100%;
        font-size: 12px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
       }

       .status-primary {
        color: rgb(59, 59, 215); /* Set the color you want for primary status */
      }
      
      .status-success {
        color: rgb(24, 161, 24); /* Set the color you want for success status */
      }
      
      .status-danger {
        color: rgb(232, 30, 30); /* Set the color you want for danger status */
      }

      .wide-panel {
        width: 600px !important ;
      }
